.Panda-nav-bg-color {
    background-color: #f597bb;
}

.slaider-bg-color {
    background-color: #fceae8;
    border-radius: 10px;
    margin-top: 130px;
}

.text-align {
    text-align: justify;
}

.price-color {
    color: #ff136f;
}

.button-bg-colo {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    font-weight: 600;
}

.categoris {
    margin-top: 80px;
}

.categoris h1 {
    color: white;

}

.categoris img {
    width: 100px;

}

.shoes {
    margin-top: 80px;
}

.subscribe-bg-color {
    height: 400px;
    background-color: #fceae8;
    margin-top: 100px;
}

footer {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #1b1f22;

}

.fotoer-end {
    color: white;
    font-weight: 600;


}